.app_dark_theme {
    --bg-color: #141416;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #d8d8d8;
    --secondary-color: #eae6e6;
    --inverted-primary-color: #383838;
    --inverted-secondary-color: #1c1c1e;
    --skeleton-color: #6b6b6b;
    --skeleton-shadow: #b9b9b9;
    --code-bg: #515151;
    --card-bg: #4a4a4a;
    --listbox-bg: #4a4a4a;
}
