.app_dark_theme {
    --bg-color: #141416;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #d8d8d8;
    --secondary-color: #eae6e6;
    --inverted-primary-color: #383838;
    --inverted-secondary-color: #1c1c1e;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #6b6b6b;
    --skeleton-shadow: #b9b9b9;

    // code
    --code-bg: #515151;

    // card
    --card-bg: #4a4a4a;

    // list
    --listbox-bg: #4a4a4a;
}
