.app_green_theme {
    --bg-color: #006a15;
    --inverted-bg-color: #103800;
    --primary-color: #fff;
    --secondary-color: #fff;
    --inverted-primary-color: #eafaee;
    --inverted-secondary-color: #103800;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #10bd2d;
    --skeleton-shadow: #005503;

    // code
    --code-bg: #498956;

    // card
    --card-bg: #32c650;

    // listbox
    --listbox-bg: #32c650;
}
