.app_green_theme {
    --bg-color: #006a15;
    --inverted-bg-color: #103800;
    --primary-color: #2da000;
    --secondary-color: #eafaee;
    --inverted-primary-color: #eafaee;
    --inverted-secondary-color: #103800;
    --skeleton-color: #10bd2d;
    --skeleton-shadow: #005503;
}
