.app.light {
    --bg-color: #dbdbdb;
    --inverted-bg-color: #6e6ee9;

    --primary-color: #214ade;
    --secondary-color: #6679f2;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}